<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.mingsoft.cms.mapper.AdpageMapper">
  <resultMap id="BaseResultMap" type="net.mingsoft.cms.model.Adpage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="show_name" jdbcType="TINYINT" property="showName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, url, link, sort, show_name, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adpage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adpage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.mingsoft.cms.model.Adpage">
    insert into adpage (id, name, url, 
      link, sort, show_name, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{showName,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.mingsoft.cms.model.Adpage">
    insert into adpage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="showName != null">
        show_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="showName != null">
        #{showName,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.mingsoft.cms.model.Adpage">
    update adpage
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="showName != null">
        show_name = #{showName,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.mingsoft.cms.model.Adpage">
    update adpage
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      show_name = #{showName,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="listBySelective" parameterType="net.mingsoft.cms.model.Adpage" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from adpage
	    where 1=1
	      <if test="name != null and name !=''">
	        and name = #{name,jdbcType=VARCHAR}
	      </if>
	      <if test="sort != null">
	        and sort = #{sort,jdbcType=INTEGER}
	      </if>
	      <if test="showName != null">
	        and show_name = #{showName,jdbcType=TINYINT}
	      </if>
	      <if test="status != null">
	        and status = #{status,jdbcType=TINYINT}
	      </if>
	      <if test="searchTime != null and searchTime != ''" >
	        and create_time = #{searchTime,jdbcType=TIMESTAMP}
	      </if>
	</select>
	
	<delete id="deleteBatchBySelective" parameterType="java.util.List">
	  delete from adpage
	  where id in 
	  <foreach collection="list" item="adpage" index="no" open="("
			separator="," close=")">
			#{adpage.id}
		</foreach>
	</delete>
</mapper>